
.joke-panel {
	margin: 10px 15px; 
	padding: 10px;
	background: transparent;
	border: 1px solid #211E20;  
	min-height: 200px;	
}

.side-panel {
	margin: 10px 15px; 
	padding: 10px;
	background: transparent;
	border: 1px solid #211E20;
}

.joke-panel div div{
	text-align: right;
}

.joke-panel div div ul{
	text-align: left;
}


.joke-date {
	text-align: right;
	font-style:italic;
	font-size: smaller;
}

.joke-field {
	min-height: 200px;	
}
 
.error { float: none; color: red; padding-left: .5em; vertical-align: top; }

.ajax-loader {
	background: transparent url(al3.gif) no-repeat  center center;
	background-color: #6E6E6E;
	z-index: 10;
	position:relative;
	
}

.highlight {
	color: #FFFFFF;
	font-style: bold;
}

#sidebar ul li {
	 list-style: none;
}

.ajax-hide {
	display: hidden;
}

.login-form {
	border-style:hidden;
}

.login-form tr td {
	border-style:hidden;
}

.login-form .button {
	width: 150px;
	font: bold 1em Arial, Tahoma, Sans-serif;
    margin: 0;
    padding: .25em .3em;

    border: 2px solid #211E20;
	
}
