{% extends "index.html" %}

{% block content %}

	{% if password_form %}
	
	     {% if password_form.errors %}
            {% for err in password_form.errors %}
                <p style="color:red;">Invalid: {{ err }}</p>
             {% endfor %}
        {% endif %}

        <form method="post" action="{% url change_password %}">
            {% csrf_token %}
            {{ password_form.as_p }}
            <input type="submit" value="Save" />
        </form>

	{% endif %}
{% endblock %}

{% block sidebar %}
				
			<h3>Smile as much as you can! That's what your doctor prescribed.</h3>	

{% endblock %}