<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

<meta name="Description" content="Information architecture, Web Design, Web Standards." />
<meta name="Keywords" content="your, keywords" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="Distribution" content="Global" />
<meta name="Author" content="Erwin Aligam - ealigam@gmail.com" />
<meta name="Robots" content="index,follow" />		

<link rel="stylesheet" href="/site_media/NewHorizon.css" type="text/css" />
<link rel="stylesheet" href="/site_media/eSmile.css" type="text/css" />

<title>Welcome to Smiley!</title>
	
</head>
<!-- SCRIPTS -->

    <script src="/site_media/js/jquery.js"></script>
<body>

	<!-- navigation starts here -->
	<div id="nav">
		
		<ul>
				{% if user.is_authenticated %}
					<li>	Witaj {{ user.username }} </li>
					<li>	<a href="{% url user_page user.username %}">Twoje żarty</a> </li>
					<li>	<a href="{% url teller_page user.username %}">Zarządzanie żartami</a> </li>
					<li>	<a href="{% url edit_user %}">Edytuj konta </a></li>
					<li>	<a href="{% url logout %}">Wyloguj</a> </li>
				{% else %}
					<li><a href="{% url login %}">Zaloguj</a></li>
				{% endif %}
		</ul>
	
	</div>

	<!-- header starts here -->
	<div id="header">	
	
		<div id="clouds"></div>
		<h1 id="logo-text"><a href="/" title="">Daily Joke</a></h1>
		
		{% if username %}
	-		<p id="slogan">Żarty użytkownika {{username}}</p>
		{% else %}
			<p id="slogan">Zaczynaj każdy dzien z usmiechem</p>
		{% endif %}
	</div>	

	<!-- content-wrap starts here -->
	<div id="content-wrap"><div id="content">	 
	
		<div id="sidebar" >	
		{% block sidebar %}
				
			<h3>Sidebar Menu</h3>			
			<ul class="sidemenu">
				<li><a href="">Home</a></li>
				<li><a href="#TemplateInfo">TemplateInfo</a></li>
				<li><a href="#SampleTags">Sample Tags</a></li>
				<li><a href="http://www.styleshout.com/">More Templates</a> </li>
				<li><a href="http://www.dreamtemplate.com" title="Web Templates">Web Templates</a></li>
			</ul>	
				
				
			<h3>Sponsors</h3>
			<ul class="sidemenu">
				<li><a href="http://www.dreamtemplate.com" title="Website Templates">DreamTemplate</a></li>
				<li><a href="http://www.themelayouts.com" title="WordPress Themes">ThemeLayouts</a></li>
				<li><a href="http://www.imhosted.com" title="Website Hosting">ImHosted.com</a></li>
				<li><a href="http://www.dreamstock.com" title="Stock Photos">DreamStock</a></li>
				<li><a href="http://www.evrsoft.com" title="Website Builder">Evrsoft</a></li>
				<li><a href="http://www.webhostingwp.com" title="Web Hosting">Web Hosting</a></li>
			</ul>
				
			<h3>Wise Words</h3>
			<p>&quot;Cherish your visions and your dreams as they are the children of your soul; 
			the blue prints of your ultimate achievements.&quot;</p>		
			
			<p class="align-right">- Napoleon Hill</p>		
		
			<h3>Support Styleshout</h3>			
			<p>If you are interested in supporting my work and would like to contribute, you are
			welcome to make a small donation through the 
			<a href="http://www.styleshout.com/">donate link</a> on my website - it will 
			be a great help and will surely be appreciated.
			</p>	
		{% endblock %}
		</div>	
	
		<div id="main">
                {% block content %}
				{{ msg }} 
			<a name="TemplateInfo"></a>				
			
			<h2><a href="index.html">Template Info</a></h2>		
			
			<p class="post-by">Posted by <a href="index.html">ealigam</a></p>
				
            <p><strong>New Horizon</strong> is a free, W3C-compliant, CSS-based website template
            by <a href="http://www.styleshout.com/">styleshout.com</a>. This work is
            distributed under the <a rel="license" href="http://creativecommons.org/licenses/by/2.5/">
            Creative Commons Attribution 2.5  License</a>, which means that you are free to
            use and modify it for any purpose. All I ask is that you give me credit by including a <strong>link back</strong> to
            <a href="http://www.styleshout.com/">my website</a>.
            </p>

            <p>
            You can find more of my free template designs at <a href="http://www.styleshout.com/">my website</a>.
            For premium commercial designs, you can check out
            <a href="http://www.dreamtemplate.com" title="Website Templates">DreamTemplate.com</a>.
            </p>
				
			<p class="post-footer align-right">					
			<a href="index.html" class="readmore">Read more</a>
			<a href="index.html" class="comments">Comments (7)</a>
			<span class="date">Oct 01, 2007</span>	
			</p>
						
			<a name="SampleTags"></a>
			<h2><a href="index.html">Sample Tags</a></h2>
							
			<h3>Code</h3>				

			<p><code>
				code-sample { <br />
				font-weight: bold;<br />
				font-style: italic;<br />				
				}
			</code></p>	
			
			<h3>Example Lists</h3>
		
			<ol>
				<li>Here is an example</li>
				<li>of an ordered list</li>								
			</ol>	
							
			<ul>
				<li>Here is an example</li>
				<li>of an unordered list</li>								
			</ul>			
			
			<h3>Blockquote</h3>			
				
			<blockquote><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy 
			nibh euismod tincidunt ut laoreet dolore magna aliquam erat....</p></blockquote>
		
			<h3>Image and text</h3>
				
			<p>
			<a href="http://getfirefox.com/"><img src="images/firefox-gray.jpg" width="100" height="121" alt="firefox-gray"  class="float-left" /></a>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. 
			Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu 
			posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum 
			odio, ac blandit ante orci ut diam. Cras fringilla magna. Phasellus suscipit, leo a pharetra 
			condimentum, lorem tellus eleifend magna, eget fringilla velit magna id neque. Curabitur vel urna. 
			In tristique orci porttitor ipsum. Aliquam ornare diam iaculis nibh. Proin luctus, velit pulvinar 
			ullamcorper nonummy, mauris enim eleifend urna, congue egestas elit lectus eu est. 								
			</p>
			
			<h3>Table Styling</h3>							
				
			<table>
				<tr>
					<th><strong>post</strong> date</th>
					<th>title</th>
					<th>description</th>
				</tr>
				<tr>
					<td>10.02.2007</td>
					<td><a href="index.html">Augue non nibh</a></td>
					<td><a href="index.html">Lobortis commodo metus vestibulum</a></td>
				</tr>
				<tr>
					<td>10.02.2007</td>
					<td><a href="index.html">Fusce ut diam bibendum</a></td>
					<td><a href="index.html">Purus in eget odio in sapien</a></td>
				</tr>
				<tr>
					<td>10.02.2007</td>
					<td><a href="index.html">Maecenas et ipsum</a></td>
					<td><a href="index.html">Adipiscing blandit quisque eros</a></td>
				</tr>					
			</table>
			
			<h3>Example Form</h3>
				
			<form action="#">		
				<p>
					<label>Name</label>
					<input name="dname" value="Your Name" type="text" size="30" />
					<label>Email</label>
					<input name="demail" value="Your Email" type="text" size="30" />
					<label>Your Comments</label>
					<textarea rows="5" cols="5"></textarea>
					<br />	
					<input class="button" type="submit" />		
				</p>		
			</form>	
						
			<br />
		{% endblock %}
		</div>					
	<!-- content-wrap ends here -->		
	</div></div>

	<!-- footer starts here-->	
	<div id="footer-wrap">

		<div id="footer-bottom">		
			<p>
			&copy; 2010 <strong>GMC Dream Works Ltd.</strong>

            &nbsp;&nbsp;&nbsp;&nbsp;

			<a href="http://www.bluewebtemplates.com/" title="Website Templates">website templates</a> by <a href="http://www.styleshout.com/">styleshout</a>

			&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;
			{% block footer %}
				{% if user.is_authenticated %}
					Hello {{ user.username }} |
					<a href="{% url user_page user.username %}">Twoje żarty</a>|
					<a href="{% url teller_page user.username %}">Zarządzaj żartami</a>|
					<a href="{% url edit_user %}">Edytuj profil </a>|
					<a href="{% url logout %}">Wyloguj</a>
				{% else %}
					<a href="{% url login %}">Zaloguj</a>
				{% endif %}
			{% endblock %}
			</p>		
		</div>	
	
	<!-- footer ends-->		
	</div>

</body>
</html>
