{% extends "index.html" %}

{% block content %}
    {% if errors %}
		
        	<p  style="color:red;">{{ errors }}</p>
    {% endif %}

	{% if register_form %}
	
	     {% if register_form.errors %}
            {% for err in register_form.errors %}
                <p style="color:red;">Błąd: {{ err }}</p>
             {% endfor %}
        {% endif %}

        <form method="post" action="{% url register %}">
            {% csrf_token %}
            {{ register_form.as_p }}
            <input type="submit" value="Create" />
        </form>
	
	{% else %}

    <form method="post" action="{% url login %}">
        {% csrf_token %}
    <table class="login-form">
	    <tr>
	        <td>{{ form.username.label_tag }}</td>
	        <td>{{ form.username }}</td>
	    </tr>
	    <tr>
	        <td>{{ form.password.label_tag }}</td>
	        <td>{{ form.password }}</td>
	    </tr>
    </table>
	
	<input type="submit" value="Zaloguj" class="button"/>
    </form>

	{% endif %}
{% endblock %}

{% block sidebar %}
				
			<h3>Nie masz jeszcze konta? </h3>		
			<a href="{% url register  %}">Utwórz konto</a>

{% endblock %}
