{% extends "index.html" %}

{% block sidebar %}       
		<div class="joke-panel">
			<div id="subscribePanel">
				<h3>Chcesz dostawać żarty moje codziennie rano?</h3>
				<div id="innerSubscribePannel">	
					<input type="text" id="subscribeInput"/>
					<input type="button" id="subscribeButton" class="button" value="Subskrybuj"/>
				</div>
			</div>
		</div>
		<div class="joke-panel">
			<h3>Opowiedziane żarty</h3>
			<ul id="historyPanel"></ul>	
		</div>		
	
{% endblock %}

{% block content %}
		<div id="jokePanel" class="joke-panel">
	        <h3>Mój najnowszy żart</h3>
			<div id="innerJokePanel" >
				<div>
					<input class="button" type="button" value="Następny" id="prevButton"/>
					<input class="button" type="button" value="Poprzedni" id="nextButton"/>
				</div>	
				<pre><p id='joke_field' class="joke-field"></p></pre>        
				<p id="joke_date" class="joke-date">Dodano: </p>
						
			</div>	        

		</div>
		<script>
			//wybacz dziadku Crockfordzie za to linkowanie przez globalne pole
			window.username = '{{username}}';
			//eSmile.username = '{{username}}';
		</script>
		<script src="/site_media/js/eSmile.main.js"></script>
		
{% endblock %}