{% extends "index.html" %}

{% block content %}

	{% if edit_form %}
	
	     {% if edit_form.errors %}
            {% for err in edit_form.errors %}
                <p style="color:red;">Invalid: {{ err }}</p>
             {% endfor %}
        {% endif %}

        <form method="post" action="{% url edit_user %}">
            {% csrf_token %}
            {{ edit_form.as_p }}
            <input type="submit" value="Save" />
        </form>

	{% endif %}
{% endblock %}

{% block sidebar %}
				
			<h3>ESmile, best jokes delivered daily! </h3>	

{% endblock %}