{% extends "index.html" %}

{% block sidebar %}       
		<div class="side-panel">
			{% if not logged %}
				<h3>Hello stranger </h3>
				<a href="{% url eSmile.main.views.login_user %}">Login</a>
			{% else %}
				<h3>Hello {{username}} </h3>
				<a href="{% url eSmile.main.views.logout_user %}">Logout</a>
				
			{% endif %}
		</div>
		<div class="joke-panel">
			<h3>Jokes posted by {{username}}</h3>
			<ul id="historyPanel"></ul>	
		</div>		
		<div class="joke-panel">
			<div id="subscribePanel">
				<h3>Receive {{username}}'s jokes daily</h3>
				<div id="innerSubscribePannel">	
					<input type="text" id="subscribeInput"/>
					<input type="button" id="subscribeButton" class="button" value="Subscribe"/>
				</div>
			</div>
		</div>	
{% endblock %}

{% block content %}
		<div id="jokePanel" class="joke-panel">
	        <h3>{{username}}'s newest joke</h3>
			<div id="innerJokePanel" >
				<p id='joke_field' class="joke-field"></p>        
				<p id="joke_date" class="joke-date">Posted on: </p>
				<div>
					<input class="button" type="button" value="Prev" id="prevButton"/>
					<input class="button" type="button" value="Next" id="nextButton"/>
				</div>							
			</div>	        

		</div>

			{% if logged %}
				<div id="addJokePanel" class="joke-panel">
					<h3>Add new joke:</h3>
					<div id="innerAddJokePanel">
						<textarea id="jokeValue"></textarea>
						<input type="button" class="button" value="Submit" id="addJokeButton" />	
					</div>
					
				</div>
			{% endif %}
		<script>
			//wybacz dziadku Crockfordzie za to linkowanie przez globalne pole
			window.username = '{{username}}';
		</script>
		<script src="/site_media/js/eSmile.main.js"></script>
		
{% endblock %}